#cover{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
	height:400px;
	width: 700px;
 	margin-left: 270px;
	margin-top:40px;
	margin-right: auto;
    visibility: hidden;
    z-index:1000;
}

#authorize-button{
	border: 1px solid white;
    color: white;
	opacity:0.8;
	border-radius: 200px;
    padding: 15px 32px;
	margin-top:130px;
	margin-left:35%;
	margin-right:35%;
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.7));
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}
#authorize-button:hover {
	background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.7));
	opacity:1;
	border:2px solid white;
}

#greetings{
 font-weight: normal;
 font-size: 1.55em;
 letter-spacing: .1em;
 visibility: hidden;
 padding-top:30px;
 text-align: center;
}

