input.text { 
	margin-bottom:12px; 
	margin-top:12px;
	width:95%; 
	padding: .4em; 
}
.add_window { 
	padding:0; 
	border:0; 
	margin-top:20px; 
}
#okienko_zdarzenia {
	text-align:center;
}
.formularz-zdarzenia {
    background-color:black;
	background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
	font-family: "Franklin Gothic Medium";
    z-index:1000;
    padding: 8px;
    opacity:0.99;
    border: none;
    border-radius: 6px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

okienko_zdarzenia{
	visibility: hidden;
}

label {
	color:white;
	margin-bottom:30px;
}