
.data {
	height:230px;
}	
	body {
      line-height: 1;
      margin: 50px;
    }

    .calendar {
      background: rgba(0, 0, 0, .1);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 15px;
      width: 220px;
	  margin-left:40px;
	  margin-top:30px;
    }
	.calendar:hover {
		background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.7));
	opacity:1;
}

    header {
      overflow: clear;
      position: relative;
    }

    h3 {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 2px;
      text-align: center;
	  color:white;
	  opacity:0.7;
    }
    .left_but {
      position: absolute;
      top: -15px;
	  left: 0;
	  width: 30px;
	  border:none;
	  background:none;
    }
	.right_but {
      position: absolute;
	  width: 30px;
      top: -15px;
	  right: 0;
	  border:none;
	  background:none;
    }
	.left_but:hover,
	.right_but:hover {
		border:none;
	}
    table {
      background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.7));
      border-collapse: collapse;
      color: white;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      width: 100%;
	  opacity:0.7;
    }

    td {
      border: 1px solid #ccc;
      color: white;
      line-height: 22px;
      text-align: center;
	
    }
	td:hover {
		cursor: pointer;
		border:3px solid white;
		border-radius: 50px;
	}	

    tr:first-child td {
      color: white;
      font-weight: 700;
    }

    .selected {
      background: yellow;
      border: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
    }


